<div class="example-container">
  <form class="example-container" [formGroup]="form" (submit)="submit(form.value)">
    <mat-form-field
        [floatLabel]="form.value.floatLabel">
      <input matInput formControlName="inputText" placeholder="Write your text here" required>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>

  <mat-card class="fixedSentence" *ngIf="didFix">
    <mat-card-header>
      <mat-card-title>Fixed text:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{ this.fixedSentence }}</p>
    </mat-card-content>
  </mat-card>
</div>
