<h1 mat-dialog-title>Should we fix your text?</h1>
<div mat-dialog-content>
  <p>Misspelled words:</p>
  <mat-list role="typos" *ngFor="let typo of data.typosList">
    <mat-list-item role="typos">{{ typo }}</mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No thanks</button>
  <button mat-button (click)="onOkClick()" cdkFocusInitial>Ok</button>
</div>
